// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//bootstrap icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Design Kyle
@import "navsteps";

//extender
@import "extender";

// Datatables BS5
// @import "~datatables.net-bs5/css/dataTables.bootstrap5.css";

.custom-control.teleport-switch {
    --color: #4cd964;
    padding-left: 0;
}

.custom-control.teleport-switch .teleport-switch-control-input {
    display: none;
}

.custom-control.teleport-switch .teleport-switch-control-input:checked~.teleport-switch-control-indicator {
    border-color: var(--color);
}

.custom-control.teleport-switch .teleport-switch-control-input:checked~.teleport-switch-control-indicator::after {
    left: -14px;
}

.custom-control.teleport-switch .teleport-switch-control-input:checked~.teleport-switch-control-indicator::before {
    right: 2px;
    background-color: var(--color);
}

.custom-control.teleport-switch .teleport-switch-control-input:disabled~.teleport-switch-control-indicator {
    opacity: .4;
}

.custom-control.teleport-switch .teleport-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 2px solid #ccc;
    overflow: hidden;
}

.custom-control.teleport-switch .teleport-switch-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    top: 2px;
    left: 2px;
    background: #ccc;
}

.custom-control.teleport-switch .teleport-switch-control-indicator::before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    top: 2px;
    right: -14px;
    background: #ccc;
}


.navbar {
    font-family: 'Poppins';
}

#content {
    background-color: $color-grey-extra-light;
    min-height: 70vh;
    border-radius: 10px;
}

.icon {
    font-size: 20px;
}

.wrapper {
    width: 100%;
    position: relative;
    padding: 3rem 4rem;
}

.content-wrapper {
    width: 100%;
    padding: 0 2rem;
}

.full-height {
    min-height: inherit
}

.bg-gradient {
    width: 100%;
    height: 100%;
    background: rgba(102, 197, 145, 0.9) !important;
    background: linear-gradient(180deg, rgba(102, 197, 145, 1) 0%, rgba(83, 182, 151, 0.75) 100%) !important;
}

.navbar {
    height: 70px;
    min-height: 70px;
}

.logo_unisante {
    position: absolute;
    top: -18px;
    right: 9px;
    box-sizing: border-box;
    z-index: 100;
    content: url("../images/logo-unisante-header.svg");
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.input-container {
    width: 100%;
    padding: 1.3rem;
    @extend %box-shadow-light;
    border-radius: 10px;
    background-color: $color-white;
    border: 1px solid $color-grey-light;
    position: relative;

    >input {
        width: 50%;
    }

    >select {
        width: 50%;
    }
}

.button-unisante {
    display: block;
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-grey;

    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;

    &:hover {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#feffff), to(#f2f5f7));
        background-image: linear-gradient(to bottom, #feffff 0, #f2f5f7 100%);
        color: $color-red;
        border: 1px solid $color-grey;
    }

    &:active {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f6f9), to(#e2e5eb));
        background-image: linear-gradient(to bottom, #f1f6f9 0, #e2e5eb 100%);
        border: 1px solid $color-grey;
    }

    &:disabled {
        opacity: .65;
        pointer-events: none;
        color: #6c757d;
    }
}

[x-cloak] {
    display: none !important;
}

.custom-tooltip {
    position: absolute;
    text-align: left;
    top: 5px;
    left: calc(100% - 25px);
    --bs-tooltip-bg: var(--bs-primary);
}

.tooltip-inner {
    text-align: left;
}

label.required::after {
    content: " *";
    color: red
}

.la-ball-spin,
.la-ball-spin>div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.la-ball-spin {
    display: block;
    font-size: 0;
    color: #fff;
}

.la-ball-spin.la-dark {
    color: #333;
}

.la-ball-spin>div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-spin {
    width: 32px;
    height: 32px;
}

.la-ball-spin>div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    border-radius: 100%;
    -webkit-animation: ball-spin 1s infinite ease-in-out;
    -moz-animation: ball-spin 1s infinite ease-in-out;
    -o-animation: ball-spin 1s infinite ease-in-out;
    animation: ball-spin 1s infinite ease-in-out;
}

.la-ball-spin>div:nth-child(1) {
    top: 5%;
    left: 50%;
    -webkit-animation-delay: -1.125s;
    -moz-animation-delay: -1.125s;
    -o-animation-delay: -1.125s;
    animation-delay: -1.125s;
}

.la-ball-spin>div:nth-child(2) {
    top: 18.1801948466%;
    left: 81.8198051534%;
    -webkit-animation-delay: -1.25s;
    -moz-animation-delay: -1.25s;
    -o-animation-delay: -1.25s;
    animation-delay: -1.25s;
}

.la-ball-spin>div:nth-child(3) {
    top: 50%;
    left: 95%;
    -webkit-animation-delay: -1.375s;
    -moz-animation-delay: -1.375s;
    -o-animation-delay: -1.375s;
    animation-delay: -1.375s;
}

.la-ball-spin>div:nth-child(4) {
    top: 81.8198051534%;
    left: 81.8198051534%;
    -webkit-animation-delay: -1.5s;
    -moz-animation-delay: -1.5s;
    -o-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

.la-ball-spin>div:nth-child(5) {
    top: 94.9999999966%;
    left: 50.0000000005%;
    -webkit-animation-delay: -1.625s;
    -moz-animation-delay: -1.625s;
    -o-animation-delay: -1.625s;
    animation-delay: -1.625s;
}

.la-ball-spin>div:nth-child(6) {
    top: 81.8198046966%;
    left: 18.1801949248%;
    -webkit-animation-delay: -1.75s;
    -moz-animation-delay: -1.75s;
    -o-animation-delay: -1.75s;
    animation-delay: -1.75s;
}

.la-ball-spin>div:nth-child(7) {
    top: 49.9999750815%;
    left: 5.0000051215%;
    -webkit-animation-delay: -1.875s;
    -moz-animation-delay: -1.875s;
    -o-animation-delay: -1.875s;
    animation-delay: -1.875s;
}

.la-ball-spin>div:nth-child(8) {
    top: 18.179464974%;
    left: 18.1803700518%;
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
}

.la-ball-spin.la-sm {
    width: 16px;
    height: 16px;
}

.la-ball-spin.la-sm>div {
    width: 4px;
    height: 4px;
    margin-top: -2px;
    margin-left: -2px;
}

.la-ball-spin.la-2x {
    width: 64px;
    height: 64px;
}

.la-ball-spin.la-2x>div {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
}

.la-ball-spin.la-3x {
    width: 96px;
    height: 96px;
}

.la-ball-spin.la-3x>div {
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
}


@-webkit-keyframes ball-spin {

    0%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes ball-spin {

    0%,
    100% {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes ball-spin {

    0%,
    100% {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes ball-spin {

    0%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
}

  .patients-grid {
      display: grid;
      grid-template-columns: 0.3fr 0.4fr 1.6fr 1.6fr 2fr 0.1fr;
      border-bottom: 1px solid lightgray;
      align-items: center;
      cursor: pointer;
  }

  .patients-grid:hover {
      background-color: rgba(230, 230, 230, 0.5);
      transition-duration: 75ms;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  }
